<h4>Shopping List</h4>
<input ng-model="shoppingList.customIngredient" type="text" class="padded-input"/>
<button class="rounded-button" ng-click="shoppingList.addCustomIngredient()">ADD ITEM</button>
<p ng-show="shoppingList.ingredientList.length === 0">Add Meals to Populate Shopping List</p>

<div class="dropdown" dropdown="">
  <button role="button"
          class="btn btn-default dropdown-toggle"
          dropdown-toggle=""
          aria-haspopup="true"
          aria-expanded="false">
    Sort By <b class="caret"></b>
  </button>
  <ul class="dropdown-menu">
    <li ng-repeat="sortOption in shoppingList.sortOptions">
      <a ng-click="shoppingList.sortBy = sortOption.sortByString">{{ sortOption.displayText }}</a>
    </li>
  </ul>
</div>

<div class="ingredient-list">
  <div ng-repeat="ingredient in shoppingList.ingredientList | orderBy: ['added', shoppingList.sortBy]"
       ng-if="shoppingList.sortBy !== 'storeSection'">
    <!--TODO disable page jump when checkbox clicked.-->
      <span ng-class="{'faded-out' : ingredient.added}">
        <input type="checkbox"
               ng-model="ingredient.added"
               id="{{ $id }}"/>
        <label for="{{ $id }}">{{ ingredient.name }}</label>
                            <span class="ingredient-source">
                                - {{ ingredient.source }}
                            </span>
                            <span ng-if="ingredient.source === 'Manually Added'"
                                  class="remove-text">
                                   &nbsp; <a ng-click="shoppingList.removeCustomIngredient(ingredient)">Remove</a>
                            </span>


      </span>
  </div>

  <div ng-repeat="storeSection in shoppingList.foodBySection"
       ng-if="shoppingList.sortBy === 'storeSection'">
    <h5>{{ storeSection.category }}</h5>
    <div ng-repeat="ingredient in shoppingList.ingredientList | orderBy: ['added', 'name'] | filter: storeSection.category">
        <span ng-class="{'faded-out' : ingredient.added}">
          <input type="checkbox"
                 ng-model="ingredient.added"
                 id="{{ $id }}"/>
          <label for="{{ $id }}">{{ ingredient.name }}</label>
                                <span class="ingredient-source">
                                    - {{ ingredient.source }}
                                </span>
                                <span ng-if="ingredient.source === 'Manually Added'"
                                      class="remove-text">
                                   &nbsp; <a ng-click="shoppingList.removeCustomIngredient(ingredient)">Remove</a>
                                </span>
        </span>
    </div>
  </div>
</div>
