<div class="new-meal-window">
  <h3 class="text-center">Create Custom Meal</h3>
  <div class="remove-x-button" ng-click="main.newMealMode = false">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
  </div>
  <div class="custom-meal-form">
    <form>
      <h4>Meal Name:</h4>
      <input type="text" name="mealname">
      <h4>Ingredients: <span>(Separated by Commas)</span></h4>
      <input type="text" name="mealingredients">
      <h4>Cooking Instructions:</h4>
      <textarea></textarea>
      <div class="row text-center">
        <button class="rounded-button" ng-click="main.addCustomMeal()">ADD MEAL</button>
      </div>
    </form>
  </div>
</div>
