<div ng-if="newMeal.newMealMode === true" class="pop-up-window">
  <div class="remove-x-button" ng-click="newMeal.newMealMode = false">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
  </div>
  <div class="overflow-scroll">
    <h3 class="text-center">Create Custom Meal</h3>
      <div class="custom-meal-form">
        <form>
          <div class="row">
            <div class="col-sm-6">
              <h4>Meal Name:</h4>
              <input type="text" name="mealname" ng-model="newMeal.customMealName">
            </div>
            <div class="col-sm-6">
              <h4>Calories Per Serving:</h4>
              <input type="number" step="10" name="mealcalories" ng-model="newMeal.customMealCalories">
            </div>
          </div>
          <h4>Ingredients: <span>(Separated by Commas)</span></h4>
          <input type="text" name="mealingredients" ng-model="newMeal.customMealIngredients">
          <h4>Cooking Instructions:</h4>
          <textarea rows="10" ng-model="newMeal.customMealRecipe"></textarea>
          <p class="text-center error-text">{{ newMeal.errorMessage }}</p>
          <div class="row text-center">
            <button class="rounded-button" ng-click="newMeal.addCustomMeal()">ADD MEAL</button>
          </div>
        </form>
      </div>
  </div>
</div>
