<div>
    <section class="tabbable">
        <ul class="nav nav-tabs" data-tabs="tabs" role="tablist">
            <li data-toggle="tabs"
                role="tab"
                ng-class="{active: listSelector.activeTab === 'ingredients'}">
                <a ng-click="listSelector.activeTab = 'ingredients'">Ingredients</a>
            </li>
            <li data-toggle="tabs"
                role="tab"
                ng-class="{active: listSelector.activeTab === 'meals'}">
                <a ng-click="listSelector.activeTab = 'meals'">Meals ({{ listSelector.addedMeals.length }})</a>
            </li>
        </ul>
    </section>
</div>

