<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="left-main">
                <div>
                    <smart-cart-nav></smart-cart-nav>
                </div>
                <div class="jumbotron text-center">
                  <h1>SmartCart</h1>
                  <p class="lead">
                    Save Time. Waste Less. Eat Better.
                  </p>
                </div>
                <meal-page-display></meal-page-display>
            </div>
        </div>

        <div class="hidden-sm hidden-xs col-xs-3">
            <div class="right-main well">
              <list-selector></list-selector>
              <shopping-list ng-if="listSelector.activeTab === 'ingredients'"></shopping-list>
              <meal-list ng-if="listSelector.activeTab === 'meals'"></meal-list>
            </div>
        </div>
    </div>
</div>

<div class="hidden-lg hidden-md well bottom-list fixed-to-bottom" ng-class="{'bottom-cart-open' : main.toggleBottomMenu}">
  <div class="row">
    <div class="text-center">
      <button class="btn bottom-btn" ng-click="main.toggleBottomMenu = !main.toggleBottomMenu">
        <span ng-if="main.toggleBottomMenu === false">Open Cart</span>
        <span ng-if="main.toggleBottomMenu === true">Close Cart</span>
      </button>
    </div>
  </div>
  <div class="overflow-bottom" ng-if="main.toggleBottomMenu">
    <list-selector></list-selector>
    <shopping-list ng-if="listSelector.activeTab === 'ingredients'"></shopping-list>
    <meal-list ng-if="listSelector.activeTab === 'meals'"></meal-list>
  </div>
</div>

<br>
<br>
<br>

<new-meal></new-meal>
<recipe-display></recipe-display>





