<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="left-main">
                <div>
                    <smart-cart-nav></smart-cart-nav>
                </div>
                <div class="jumbotron text-center">
                  <h1>SmartCart</h1>
                  <p class="lead">
                    Save Time. Waste Less. Eat Better.
                  </p>
                </div>
                <meal-page-display></meal-page-display>
            </div>
        </div>

        <div class="hidden-sm hidden-xs col-xs-3">
            <div class="right-main well">
              <list-selector></list-selector>
              <shopping-list ng-if="listSelector.activeTab === 'ingredients'"></shopping-list>
              <meal-list ng-if="listSelector.activeTab === 'meals'"></meal-list>
            </div>
        </div>
    </div>
</div>

<div class="hidden-lg hidden-md well bottom-list">
  <list-selector></list-selector>
  <shopping-list ng-if="listSelector.activeTab === 'ingredients'"></shopping-list>
  <meal-list ng-if="listSelector.activeTab === 'meals'"></meal-list>
</div>

<new-meal></new-meal>

<!--<recipe-display ng-if="main.recipeOpenStatus"></recipe-display>-->





