<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="left-main">
        <div>
          <acme-navbar></acme-navbar>
        </div>
        <div class="jumbotron text-center">
          <h1>SmartCart</h1>
          <p class="lead">
            Save Time. Waste Less. Eat Better.
          </p>
        </div>
        <h1>Featured Meals</h1>
        <div class="row">
          <div class="col-sm-6" ng-repeat="meal in main.meals | orderBy:'rank'">
            <div class="thumbnail">
              <div class="caption">
                <div class="pin" ng-class="{'red-pin': (meal.calories >= 2001), 'orange-pin': (meal.calories >= 1100 && meal.calories < 2001), 'green-pin': (meal.calories < 1100)}" ng-show="meal.calories">{{ meal.calories }}
                  Calories Per Serving</div>
                <h3>{{ meal.name }}</h3>
                <div class="row text-center">
                  <button class="rounded-button" ng-show="!meal.added" ng-click="main.addIngredients(meal)">ADD TO MENU</button>
                  <button class="rounded-button red-button" ng-show="meal.added" ng-click="main.removeIngredients(meal)">REMOVE FROM
                    MENU</button>
                </div>
              </div>
              <div class="image-container">
                <img ng-src="assets/images/{{ meal.image }}"/>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <h1>Your Meals</h1>
          </div>
          <div class="col-sm-6">
            <button class="rounded-button">CREATE NEW MEAL</button>
          </div>
        </div>
        <div class="row">
          <h4 class="text-center" ng-show="main.yourMeals.length === 0">No Meals Available. Click 'Create New Meal' to
            customize
            your own meals.</h4>
          <div class="col-sm-6 col-md-4" ng-repeat="meal in main.yourMeals">
            <div class="thumbnail">
              <div class="caption">
                <h3>{{ meal.name }}</h3>
                <p>{{ meal.ingredients }}</p>
                <p>{{ meal.added }}</p>
                <button class="rounded-button" ng-click="meal.added = !meal.added">ADD TO MENU</button>
              </div>
            </div>
          </div>
         </div>
      </div>
    </div>

    <div class="hidden-sm hidden-xs col-xs-3">
      <div class="right-main well">
        <!--<p class="text-center" ng-bind="main.shoppingList.slice(0, vm.shoppingList.length-2) + '.'"</p>-->
        <h1>Shopping List</h1>
        <p ng-show="main.ingredients.length === 0">Add Meals to Populate Shopping List</p>

        <div ng-hide="main.ingredients.length === 0" class="dropdown" dropdown="">
          <button role="button" class="btn btn-default dropdown-toggle" dropdown-toggle="" aria-haspopup="true"
             aria-expanded="false">
            Sort By <b class="caret"></b>
          </button>
          <ul class="dropdown-menu">
            <li><a ng-click="main.sortBy = 'name'">Alphabetical</a></li>
            <li><a ng-click="main.sortBy = 'source'">Meal</a></li>
            <li><a ng-click="main.sortBy = 'storeSection'">Store Section</a></li>
            <!--Eventually needs to be replace with ng-repeat-->
          </ul>
        </div>
        <div ng-repeat="ingredient in main.ingredients | orderBy: main.sortBy">
          <p><input type="checkbox" ng-model="ingredient.added"/> {{ ingredient.name }} <span
            class="ingredient-source">- {{ ingredient.source }}</span></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="hidden-lg hidden-md well bottom-list">
      <h1>Shopping List</h1>
      <div ng-repeat="ingredient in main.ingredients | orderBy: 'name'">
        <p><input type="checkbox" ng-model="ingredient.added"/> {{ ingredient.name }} <span class="ingredient-source">-
                                                                                           {{ ingredient.source
          }}</span></p>
      </div>
</div>




