/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower



$scGreen: #2B803E;
$scRed: #AA4439;


.navbar {
  border: 1px solid $scGreen !important;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.jumbotron {
  background: url('/assets/images/shopping-cart.png') bottom center;
  overflow: hidden;

  h1 {
    color: black !important;
  }

  p {
    color: black;
  }
}


h1 {
  padding: 0 0 20px 0;
}

.image-container {
  display: flex;
  justify-content: center;

  img {
    max-width: 100%;
    max-height: 200px;
    border: 3px solid $scGreen;
  }
}


.thumbnail {
  height: 360px;
  width: 95%;

}

.custom-thumbnail {
  height: 200px;
  width: 95%;
}

.right-main {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  border-radius: 0;
}

.rounded-button {
  font-family: "Tahoma", sans-serif;
  border-radius: 50px;
  background: $scGreen;
  padding: 1em;
  color: white;
  border: 0;
  margin: 0 0 0 0;

  &:hover {
    background: #77B986;
  }

  &:focus {
    outline: none;
    background: #77B986;
  }
}

.rounded-button:focus {
  outline: none;

}

.red-button {
  background: $scRed;

  &:hover {
    background: #F5A69E;
  }

  &:focus {
    background: #F5A69E;
  }
}

.pin {
  position: absolute;
  right: 10px;
  top: -8px;
  height: 8.5em;
  width: 8.5em;
  border-radius: 50%;
  color: white;
  font-size: .7em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Arial", sans-serif;
}

.ingredient-source {
  color: gray;
  font-size: 80%;
  font-style: italic;
}

.red-pin {
  background: $scRed;
}

.green-pin {
  background: $scGreen;
}

.orange-pin {
  background: #AA7039;
}

.ingredient-list {
  margin: 20px 0;
}

.vertical-center {
  display: inline-block;
  vertical-align: middle;
  float: none !important;
}

.padded-input {
  margin: 5px;
}

.faded-out {
  opacity: .5;
}

.pop-up-window {
  position: fixed;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  margin: 10px 0;
  width: 90%;
  z-index: 9999;
  background-color: #A5D6A7;
  border: 3px solid $scGreen;

  textarea {
    resize: none;
    width: 100%;
  }

  span {
    font-size: .6em;
  }
}

.overflow-scroll {
  overflow: scroll;
  height: 100%;
  width: 95%;
  margin: auto;
  position: relative;
  top: 0;
  left: 0;
}

.custom-meal-form {
  margin: 2em;
  overflow: hidden;
  width: 95%;

    span {
      font-size: 60%;
    }
}

.remove-x-button {
  position: absolute;
  top: -36px;
  right: 4px;
  font-size: 440%;
  cursor: pointer;
  z-index: 15;

  &:hover {
    color: white;
  }
}

.remove-text {
  color: $scRed;
  font-size: 90%;

  a {
    color: $scRed;

    &:hover {
      color: #F5A69E;
      cursor: pointer;
      text-decoration: none;
    }
  }
}

.error-text {
  color: $scRed;
  font-size: 1.3em;
}

input[type=text] {
  padding: 2px 8px !important;
//  TODO this doesn't work without the important tag. Not sure what it's overriding, but it seems better to not use it.
}

textarea {
  padding: 2px 8px !important;
  max-width: 95%;
}

.fixed-to-bottom {
  position: fixed;
  bottom: 0;
  margin-bottom: 0 !important;
}

.bottom-cart-open {
  height: 95%;
}

.bottom-btn {
  margin-bottom: 5px !important;
  background-color: $scGreen;
  color: white;

  &:hover {
    background-color: #A5D6A7;
  }

  &:focus {
    background-color: #A5D6A7;
  }
}

.overflow-bottom {
  position: relative;
  overflow: scroll;
  height: 95%;
}

.bottom-list {
  width: 100%;
  border-radius: 0;
  border-top: 3px solid $scGreen;
  min-height: 20px;
  padding: 19px;
  background-color: $well-bg;
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
